datalist#values {
    margin-left:70px;
    display:flex;
    flex-direction:column; 
    justify-content:space-between; 
    writing-mode:vertical-lr; 
    width:200px;
}

input#nsubp {
    margin-left:70px;
    width:200px;
}

g.tick line {
    color:lightgray;
    opacity:0.5;
}

g.tick text {
    font-size:1.3em
}

svg path.plotline {
    stroke:lightpink;
    stroke-width:1.5;
    stroke-opacity:0.7;
}

svg path.highlighted {
    stroke:lightcoral;
    stroke-width:5;
    stroke-linecap:round;
}

svg g.tooltip {
    z-index:3;
}

svg g rect.textbg {
    fill:lightgray;
    opacity:0.6;
}

option {
    padding:0; 
    transform:rotate(-90deg);
}

svg.svgd3 {
    width:80%;
    padding-left:20px;
    padding-right:20px;
}
